<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>User dashboard</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>User dashboard</h2>
            <div>
                <p><a th:href="@{/chama}">Create chama</a></p>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>User id</th>
                            <th>Chama id</th>
                        </tr>
                        <tr th:each="invite : ${invites}">
                            <td th:text="${invite.userForeignKey}"></td>
                            <td th:text="${invite.chamaForeignKey}"></td>
                            <td>
                                <form th:action="@{/acceptInvite}" th:object="${invite}" method="post">
                                    <input type="hidden" name="userForeignKey" th:value="*{userForeignKey}">
                                    <input type="hidden" name="chamaForeignKey" th:value="*{chamaForeignKey}">
                                    <button type="submit" class="btn btn-success">Accept</button>
                                </form>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </body>
</html>