<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Blank</title>
    </head>
    <body>
        <header>
            <h3>Header</h3>
        </header>
        <div class="content">
            <div layout:fragment="content"></div>
        </div>
        <footer>
            Footer
        </footer>
    </body>
</html>