<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<head>

    <style>

        .dropdown-list {
            display:none;
        }

        input[id="contributions"]:checked ~ .dropdown-list {
            display:block;
        }

    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Receipt</title>
</head>
    <body>
        <div layout:fragment="content">
            <h1>Receipt</h1>
            <form th:object="${receipt}" th:action="@{/receipt}" method="post" style="width:350px;" class="container border rounded px-5 py-3">
                <div class="form-group">
                    <input type="radio" th:field="*{contributionType}" th:value="Contributions" id="contributions" name="receipt-type">
                    <label for="contributions">Contributions</label>

                    <input type="radio" th:field="*{contributionType}" th:value="Income" id="income" name="receipt-type">
                    <label for="income">Income</label>

                    <div class="dropdown-list">
                        <label>Member: </label>
                        <select th:field="*{memberId}">
                            <option th:each="member : ${members}" th:value="${member.user.userId}" th:text="${member.user.username}"></option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label for="receiptAmount">Amount</label>
                    <input id="receiptAmount" th:field="*{receiptAmount}" class="form-control" type="number" placeholder="e.g $500" required>
                </div>

                <div class="form-group">
                    <label for="receiptDate">Date</label>
                    <input id="receiptDate" th:field="*{receiptDate}" class="form-control" type="date" placeholder="Receipt date" required>
                </div>

                <div class="form-group">
                    <label for="paymentMode">Payment mode</label>
                    <input list="modes" id="paymentMode" th:field="*{paymentMode}" class="form-control" type="text" placeholder="Mode of payment" required>
                    <datalist id="modes">
                        <option value="Cash"></option>
                        <option value="Check"></option>
                        <option value="Credit card"></option>
                        <option value="m-pesa"></option>
                        <option value="Direct deposit"></option>
                    </datalist>
                </div>

                <div class="form-group">
                    <label for="paymentDescription">Payment description</label>
                    <input list="description" id="paymentDescription" th:field="*{paymentDescription}" class="form-control" type="text" placeholder="Payment description" required>
                    <datalist id="description">
                        <option value="Monthly contribution"></option>
                        <option value="Allocation"></option>
                    </datalist>
                </div>

                <div class="form-group">
                    <label for="receiptType">Receipt type</label>
                    <input id="receiptType" th:field="*{receiptType}" class="form-control" type="text" placeholder="Type of receipt" required>
                </div>

                <p><a th:href="@{/chamaDashboard}">Return to dashboard</a></p>
                <button type="submit" class="btn btn-primary">Offer receipt</button>
            </form>
        </div>
    </body>
</html>