<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Preview receipt</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>Receipts preview</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>User id</th>
                            <th>Receipt number</th>
                            <th>Receipt amount</th>
                            <th>Receipt date</th>
                            <th>Payment mode</th>
                            <th>Payment description</th>
                            <th>Receipt status</th>
                            <th>Contribution type</th>
                            <th>Receipt type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form th:action="@{/isValid}">
                            <tr th:each="receipt : ${receipts}">
                                <form th:action="@{/editField}" method="get">
                                    <td th:text="${receipt.userId}"></td>
                                    <td th:text="${receipt.receiptNumber}"></td>
                                    <td th:text="${receipt.receiptAmount}"></td>
                                    <td th:text="${receipt.receiptDate}"></td>
                                    <td th:text="${receipt.paymentMode}"></td>
                                    <td th:text="${receipt.paymentDescription}"></td>
                                    <td th:text="${receipt.receiptStatus}"></td>
                                    <td th:text="${receipt.contributionType}"></td>
                                    <td th:text="${receipt.receiptType}"></td>
                                    <td><button type="submit">Edit</button></td>
                                </form>
                            </tr>
                            <tr>
                                <input th:name="valid" type="submit" th:value="Cancel">
                                <input th:name="valid" type="submit" th:value="Approve">
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>