<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Update receipt</title>
</head>
    <body>
        <div layout:fragment="content">
            <h2>Update receipt</h2>
            <div>
                <form th:action="@{/updateExcelReceipt}" th:object="${excelReceipt}" method="post">

                    <input type="number" name="excelReceiptId" th:value="${excelReceipt.excelReceiptId}" readonly="">
                    <input type="number" name="userId" th:value="${excelReceipt.userId}" readonly="">
                    <input type="text" name="receiptNumber" th:value="${excelReceipt.receiptNumber}">
                    <input type="number" name="receiptAmount" th:value="${excelReceipt.receiptAmount}">
                    <input type="date" name="receiptDate" th:value="${excelReceipt.receiptDate}">
                    <input type="text" name="paymentMode" th:value="${excelReceipt.paymentMode}">
                    <input type="text" name="paymentDescription" th:value="${excelReceipt.paymentDescription}">
                    <input type="text" name="contributionType" th:value="${excelReceipt.contributionType}">
                    <input type="text" name="receiptType" th:value="${excelReceipt.receiptType}">

                    <button type="submit">UPDATE</button>
                </form>
            </div>
        </div>
    </body>
</html>