<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>User dashboard</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>Chama dashboard</h2>
            <div class="invitation">

                <form th:action="@{/inviteUser}" method="post" th:object="${invite}" style="width:350px;" class="container border rounded px-5 py-3">
                    <h2>Invite user</h2>
                    <div class="form-group">
                        <label for="userId">User code</label>
                        <input th:field="*{userForeignKey}" type="text" class="form-control" id="userId" placeholder="User code">
                        <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert"></div>
                    </div>
                    <div class="form-group">
                        <label for="chamaId">Chama code</label>
                        <input th:field="*{chamaForeignKey}" type="text" class="form-control" id="chamaId" placeholder="Chama code">
                    </div>
                    <button type="submit" class="btn btn-primary">Invite</button>
                    <div th:if="${success}" th:text="${success}" class="alert alert-success" role="alert"></div>
                </form>

            </div>
            <div>
                <p><a th:href="@{/receipt}">Generate receipt</a></p>
            </div>
        </div>
    </body>
</html>