<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/blank}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Forgot password</title>
    </head>
    <body>
    <div layout:fragment="content">
        <form style="width:350px;" class="container border rounded px-5 py-3">
            <h2>Reset password</h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" class="form-control" type="text" placeholder="Enter your email" required>
            </div>

            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
    </body>
</html>