<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/blank}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>OTP validation</title>
    </head>
    <body>
        <div layout:fragment="content">
            <form method="post" th:action="@{/}">
                <h2>Validation</h2>
                <div>
                    <label for="optValidation">Enter the code sent to your email</label>
                    <input id="optValidation" class="form-control" type="number" placeholder="6516" required>
                </div>
            </form>
        </div>
    </body>
</html>