<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/blank}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Sign up</title>
    </head>
    <body>

        <div layout:fragment="content">
            <form th:action="@{/signUp}" method="post" th:object="${user}" style="width:350px;" class="container border rounded px-5 py-3">
                <h2>Sign Up</h2>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input id="firstName" th:field="*{firstName}" class="form-control" type="text" placeholder="First name" required>
                </div>

                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input id="lastName" th:field="*{lastName}" class="form-control" type="text" placeholder="Last name" required>
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" th:field="*{username}" class="form-control" type="text" placeholder="username" required>
                    <div th:if="${usernameError}" th:text="${usernameError}" class="alert alert-danger" role="alert"></div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" th:field="*{email}" class="form-control" type="text" placeholder="Enter Email" required>
                    <div th:if="${emailError}" th:text="${emailError}" class="alert alert-danger" role="alert"></div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" th:field="*{password}" class="form-control" type="password" placeholder="Enter Password" required>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Repeat Password</label>
                    <input id="confirmPassword" th:field="*{confirmPassword}" class="form-control" type="password" placeholder="Repeat Password" required>
                    <p><a th:href="@{/signIn}">Sign in</a></p>
                    <div th:if="${passwordError}" th:text="${passwordError}" class="alert alert-danger" role="alert"></div>
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>

        </div>
    </body>
</html>