<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Request Loan</title>
</head>
    <body>
        <div layout:fragment="content">
            <h3>Request Loan</h3>
            <div>
                <form th:object="${loan}" th:action="@{/requestLoan}" method="post" style="width:350px;" class="container border rounded px-5 py-3">

                    <div class="form-group">
                        <h6>Amount</h6>
                        <label for="amount"></label>
                        <input id="amount" th:field="*{amount}" class="form-control" type="number" placeholder="5000" required>
                    </div>
                    <div class="form-group">
                        <h6>Loan period</h6>
                        <label for="period"></label>
                        <input id="period" th:field="*{loanPeriod}" class="form-control" type="date" placeholder="e.g 24/07/2020" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Request</button>

                </form>
            </div>
        </div>
    </body>
</html>